<html lang="en">
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="dashboard">
            <h4>
                Hi <%=name%> You have successfully logged in.
            </h4>
            <a href="/logout">Logout</a>
        </div>
    </body>
</html>