<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <script src="/submit.js"></script>
    <body>
        <div class="form">
            <form id="loginForm">
                <h2 style="text-align: center;">Login</h2>
                <% if(locals.error) {%>
                <p class="text-danger"><%=error%></p>
                <%}%>                
                <div class="input-field">
                    <input type="text" name="username" id="username" placeholder="Enter Username">
                </div>
                <div class="input-field">
                    <input type="password" name="password" id="password" placeholder="Enter Password">
                </div>
                <input type="button" value="LogIn" id="loginSubmit" onclick= sendRequest()>
            </form>
        </div>
    </body>
</html>